@import 'bootstrap/dist/css/bootstrap.min.css';


* {
    box-sizing: border-box;
    letter-spacing: -0.02em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter Tight', sans-serif !important;
}

.text-primary {
    color: #4338ca !important;
}

aside a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.sidebar-custom a {
    transition: all 0.3s ease;
}
    
.sidebar-custom a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
    
.sidebar-custom a.active-link {
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-weight: 600 !important;
    border-left: 4px solid white;
}